.btn-circle { 
    width: 55px; 
    height: 55px; 
    padding: 10px 10px; 
    border-radius: 30px; 
    font-size: 23px; 
    text-align: center; 
} 

#editor {
    transform-origin: top center;
}

.page {
  width: 612px;
  height: 792px;
  /* margin: 20px; */
  margin-bottom: 0.5cm;
  margin-top: 0.5cm;
  position: relative;
}

.page .content .column {
  text-align: justify;
  font-size: 10pt;
}

.page .content .column blockquote {
  border-left: 2px solid #999999;
  background: #dedede;
  padding: 10px;
  margin: 4px 20px;
  clear: both;
}

.page .content .column img {
  float: left;
  margin: 10px;
}

.page .content .column p {
  padding: 0 10px;
  margin: 10px 0;
}

.page .content .column h1 {
  padding: 0 10px;
}

.page .header {
  text-align: center;
  font-size: 18pt;
  font-family: helvetica, arial;
  padding: 20px 0 0;
}

.page .header hr,
.page .footer hr {
  width: 400px;
}

.page .footer {
  text-align: center;
}

.page .footer span {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#page_template {
  display: none;
}

.enclosure {
  border: 1px dashed black;
}

body {
  background: rgb(204, 204, 204);
}

page {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

page[size="A4"] {
  width: 21cm;
  height: 29.7cm;
}

page[size="A4"][layout="landscape"] {
  width: 29.7cm;
  height: 21cm;
}

page[size="A3"] {
  width: 29.7cm;
  height: 42cm;
}

page[size="A3"][layout="landscape"] {
  width: 42cm;
  height: 29.7cm;
}

page[size="A5"] {
  width: 14.8cm;
  height: 21cm;
}

page[size="A5"][layout="landscape"] {
  width: 21cm;
  height: 14.8cm;
}

@media print {
  body,
  page {
    margin: 0;
    box-shadow: 0;
  }
}
