{% extends "app/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block extra_head %}
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
{% endblock extra_head %}

{% block content %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-img" src="{{ user.profile.image.url }}" style="transform: scale(0.8);">
            <div class="media-body">
              <h2 class="account-heading mt-3">{{ user.username }}</h2>
              <p class="text-secondary" style="width: 120px;">Newspapers: {{ user.newspaper_set.count }}</p>
            </div>
        </div>
    </div>
{% endblock content %}
