<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Some App</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body id="body">
    <div class="container">
        <div class="files">
            <div class="files_list_text">NewsPaper.nsp</div>
            <div class="files_list_text">NewsPaper1.nsp</div>
            <div class="files_list_text">NewsPaper2.nsp</div>
            <div class="files_list_text">NewsPaper3.nsp</div>
            <div class="files_list_text">NewsPaper4.nsp</div>
            <div class="files_list_text">NewsPaper5.nsp</div>
            <div class="files_list_text">NewsPaper6.nsp</div>
            <div class="files_list_text">NewsPaper7.nsp</div>
            <div class="files_list_text">NewsPaper8.nsp</div>
            <div class="files_list_text">NewsPaper9.nsp</div>
            <div class="files_list_text">NewsPaper10.nsp</div>
            <div class="files_list_text">NewsPaper11.nsp</div>
            <div class="files_list_text">NewsPaper12.nsp</div>
            <div class="files_list_text">NewsPaper13.nsp</div>
            <div class="files_list_text">NewsPaper14.nsp</div>
            <div class="files_list_text">NewsPaper15.nsp</div>
            <div class="files_list_text">NewsPaper16.nsp</div>
            <div class="files_list_text">NewsPaper17.nsp</div>
            <div class="files_list_text">NewsPaper18.nsp</div>
            <div class="files_list_text">NewsPaper19.nsp</div>
        </div>
        <div>
            <header class="header"></header>
        </div>
            <textarea class="sanina_textarea"></textarea>
    </div>

</body>
<script src="{% static 'js/view.js' %}"></script>
{#<script src="{% static 'js/script.js' %}"></script>#}
</html>